<ion-header>
    <ion-navbar>
        <ion-col style="display: flex;justify-content: flex-end;">
            <ion-title>{{title}}</ion-title>
            <button ion-button type="button" (click)="closeModal()" color="light">
                <ion-icon name="close-circle"></ion-icon>
            </button>
        </ion-col>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-grid *ngIf="resultados.id">
        <form #actualizarActividad="ngForm" (ngSubmit)="actualizar(resultados.id)">
            <ion-row>
                <ion-col col-12>
                    <ion-item style="background-color: lightgrey;">
                        <span>{{resultados.asunto}}</span>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12 style="height: 4em;">
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <ion-input [(ngModel)]="resultados.asunto" name="Asunto" placeholder="Asunto"></ion-input>
                </ion-col>
                <ion-col col-12>
                    <p-calendar [(ngModel)]="fechaInicio" name="Fecha Inicial" required></p-calendar>
                </ion-col>
                <ion-col col-12>
                    <p-calendar [(ngModel)]="fechaFin" name="Fecha Final" placeholder="Fecha Final"></p-calendar>
                </ion-col>
                <button ion-button type="submit" [disabled]="!actualizarActividad.form.valid" style="margin-top: .5em;">Actualizar</button>
            </ion-row>
        </form>
    </ion-grid>

    <ion-grid *ngIf="!resultados.id">
        <ion-row>
            <ion-col col-12>
                <ion-item style="background-color: lightgrey;">
                    <span></span>
                </ion-item>
            </ion-col>
        </ion-row>
        <form #crearActividad="ngForm" (ngSubmit)="crear()">
            <ion-row style="display: flex;justify-content: center;">
                <ion-col col-12 col-md-5>
                    <ion-input [(ngModel)]="asunto" name="Asunto" placeholder="Asunto" style="margin-top: .5em;" required></ion-input>
                    <ion-col style="margin-top: .5em;">
                        <p-calendar [(ngModel)]="fechaInicial" name="Fecha Inicial" placeholder="Fecha Inicial" required></p-calendar>
                    </ion-col>
                    <ion-col style="margin-top: .5em;">
                        <p-calendar [(ngModel)]="fechaFin" name="Fecha Final" placeholder="Fecha Final"></p-calendar>
                    </ion-col>
                </ion-col>
                <ion-col col-12 style="text-align: center;">
                    <button ion-button type="submit" [disabled]="!crearActividad.form.valid" style="margin-top: .5em;">Crear</button>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>
</ion-content>